# Question No. 1

In [1]:
a=200
b=335.26

#constructor for Integers
print("integer 1 is", int(a))
print("integer 2 is", int(b))

#constructor for Floats
print("float 1 is", float(a))
print("float 2 is", float(b))

# Creation of list
L1=[1,2,3,4,5]
print("List is",L1)

L2=list((1,2,3,4,5))
print("List is",L2)

# Creation of Set
S1={1,2,3,4,5,6,7,8}
print("Set is",S1)

S2=set((1,2,3,4,5,6,7,8))
print("Set is",S2)

integer 1 is 200
integer 2 is 335
float 1 is 200.0
float 2 is 335.26
List is [1, 2, 3, 4, 5]
List is [1, 2, 3, 4, 5]
Set is {1, 2, 3, 4, 5, 6, 7, 8}
Set is {1, 2, 3, 4, 5, 6, 7, 8}

# Question No. 2

# Conversion of Integers in Floats and Floats in Integers

In [2]:
c=2
d=3.35
e = -5
print ("integer =",c)
print ("float =",d)

# conversion
print("integer converted to float = ",float(c))
print("float converted to integer = ",int(d))

integer = 2
float = 3.35
integer converted to float =  2.0
float converted to integer =  3

# Arithmetic Operators

In [3]:
a = 150
b = 80

addition = a+b
subtraction = a-b
multiplication = a*b
division = a/b
exponential = a**3
floor_division = a//b


print ("addition result ( a + b) = ",addition) # addition result
print ("subtraction result ( a - b) = ",subtraction) # subtraction result
print ("multiplication result ( a x b) = ",multiplication) # multiplication result
print ("division result ( a / b) = ",division) # division result
print ("exponential result ( a ^ 2) = ",exponential) # exponential result
print ("floor division result ( a // b) = ",floor_division) # floor division result

addition result ( a + b) =  230
subtraction result ( a - b) =  70
multiplication result ( a x b) =  12000
division result ( a / b) =  1.875
exponential result ( a ^ 2) =  3375000
floor division result ( a // b) =  1

# Comparison Operators

In [4]:
x,y = 9,8
print("x = ",x,"y = ",y)
print("x = y", x==y) # x is equal to y
print("x != y",x!=y) # x is not equal to y
print("x < y",x<y) # x is less than y
print ("x > y", x>y) # x is greater than y
print("x <= y",x<=y) # x is less than equal to y
print ("x >= y", x>=y) # x is greater than equal to y

x =  9 y =  8
x = y False
x != y True
x < y False
x > y True
x <= y False
x >= y True

# Logical Operators

In [5]:
w = 5
print (w<=5 and w<4)
print (True and False)
print (w<5 or w<=4)
print (True or False)
print (not(True))

False
False
False
True
False

# Question No. 3

In [6]:
dir(b)
print(b.__add__(6)) # similar to the addition operator
print(d.__ceil__()) # ceil function
print(e.__abs__()) # absolute function
print(e.__float__()) # float function"

86
4
5
-5.0

# Question No. 4

In [7]:
print("I love","python")
print("I love" + " python")
print("I love" + " python" + " version ", 3.10)
print("I love" + " python" + " version %.2f"%3.10)
print("I love %s version %.2f"%("python",3.10))

#Using format position argument
print("I love {} version {}".format("python",3.10))
print("I love {} version {}".format("python","3.10"))
print("I love {} version {:.2f}".format("python",3.10))
print("I love {1} version of {0}".format("python","3.10"))

# Using python for Keyword aurgument
print("I love {pl} version {version:.2f}".format(pl="python",version=3.10))

# Using F-String Literal
info={"pl":"python","version":3.10}
print(f"I love {info.get('pl')} version {info.get('version'):.2f}")
      
# Can be done with uppercase f literal and fingle quote but double quotes while accessing dictionary value
print(F'I love {info["pl"]} version {info["version"]:.2f}')

#f-string conditional
batch='ML'
print(f'I love {"javascript" if batch=="FS" else "python"}')

I love python
I love python
I love python version  3.1
I love python version 3.10
I love python version 3.10
I love python version 3.1
I love python version 3.10
I love python version 3.10
I love 3.10 version of python
I love python version 3.10
I love python version 3.10
I love python version 3.10
I love python

# Question No. 5

In [8]:
countries1 = ["Finland","Sweden","Denmark","Netherlands","Germany","Norway","Iceland"] # a. create a list of items
print ("a= List of some Schengen countries are = ",countries1)


b=countries1.index("Sweden") # b. Find the index of Sweden
print ("b= Index or position of Sweden is",b)

print("c= All countries other than finland",countries1[1:-1]) # c. All countries other than first

print("d= All countries other than iceland",countries1[:-2])  # d. All countries other than last

print("e= Last country is",countries1[-1]) # e. Finding iceland using negative index

print("f= last three countries are",countries1[-3:])  # f. last three countries using negative indexing

print("g= countries with odd indices",countries1[1::2])  # g. items with odd indices

print("h= first and last countries are", countries1[::len(countries1)-1]) # h. first and last countries for the list

print("i= countries",countries1[-4:-1])  # i. "Netherlands”,”Germany”,”Norway” using negative indexing

print("j= reverse order of list is",countries1[::-1])  # j. Reverse the list

print("k= output of countries [::-2] are",countries1[::-2])  # k. finding output of countries[::-2]

print("l= output of countries [1:100:2]",countries1[1:100:2])  # l. finding output of countries[1:100:2]

print("m= output of countries [-1:0:2]",countries1[len(countries1)-1:0:2])   # m. finding output of countries[len(countries)-1:0:2]

print(["n= output of three countries are",countries1[-3], countries1[-4], countries1[-5]]) # n. Getting the output ['Germany', 'Netherlands', 'Denmark']

[pair for pair in enumerate(countries1)]  # o. enumerate method to get index and values in the list

a= List of some Schengen countries are =  ['Finland', 'Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway', 'Iceland']
b= Index or position of Sweden is 1
c= All countries other than finland ['Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway']
d= All countries other than iceland ['Finland', 'Sweden', 'Denmark', 'Netherlands', 'Germany']
e= Last country is Iceland
f= last three countries are ['Germany', 'Norway', 'Iceland']
g= countries with odd indices ['Sweden', 'Netherlands', 'Norway']
h= first and last countries are ['Finland', 'Iceland']
i= countries ['Netherlands', 'Germany', 'Norway']
j= reverse order of list is ['Iceland', 'Norway', 'Germany', 'Netherlands', 'Denmark', 'Sweden', 'Finland']
k= output of countries [::-2] are ['Iceland', 'Germany', 'Denmark', 'Finland']
l= output of countries [1:100:2] ['Sweden', 'Netherlands', 'Norway']
m= output of countries [-1:0:2] []
['n= output of three countries are', 'Germany', 'Netherlands', 'Denmark']

[(0, 'Finland'),
 (1, 'Sweden'),
 (2, 'Denmark'),
 (3, 'Netherlands'),
 (4, 'Germany'),
 (5, 'Norway'),
 (6, 'Iceland')]

# Question No. 6

In [9]:
# a.

List1 = ["a","b","c","d"]
List2 = [1,2,3,4]
dict_data = {k: v for k, v in zip(List1, List2)}
print("assigning values are = ",dict_data)

# b.

dict_1 = {'m': 100, 'n': 90}
dict_2 = {'p': 4, 'q': 8}
dict_merg = dict_1.copy()
dict_merg.update(dict_2)
print("merged dictionaries are",dict_merg)

# c.

Students = ["Duy", "Laxmi","Antonio","Maria"]
Course = ["Python","Database","ML"]
dictionary = {k: Course for k, v in zip(Students, Course)}
print(dictionary)

assigning values are =  {'a': 1, 'b': 2, 'c': 3, 'd': 4}
merged dictionaries are {'m': 100, 'n': 90, 'p': 4, 'q': 8}
{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['Python', 'Database', 'ML']}